:root{
    --blue:#2A398D;
    --green:#3CAC3B;
    --red:#E61D25;
    --light:#D1D4D1;
    --dark:#474A4A;

    --purple:#651FFF;
    --cyan:#26D9D0;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:white;
}

/* HERO */

.hero{
    min-height:35vh;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;

    padding:60px 20px;

    background:
    linear-gradient(
        135deg,
        var(--blue),
        var(--purple)
    );
}

.hero-content{
    max-width:900px;
}

.tag{
    background:var(--red);

    padding:10px 20px;

    border-radius:30px;

    font-weight:bold;

    display:inline-block;

    margin-bottom:20px;
}

.hero h1{
    font-size:4rem;

    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;

    color:var(--light);
}

/* FEATURES */

.features{
    min-height:65vh;

    padding:50px;
}

.section-title{
    text-align:center;

    margin-bottom:40px;
}

.section-title h2{
    font-size:2.2rem;
}

.section-title p{
    color:var(--light);
}

/* DUAS COLUNAS */

.cards{
    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

    min-height:400px;
}

.card{
    background:#1d1d1d;

    text-decoration:none;

    color:white;

    border-radius:20px;

    padding:50px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    transition:0.3s;

    border-top:8px solid var(--cyan);
}

.card:first-child{
    border-top-color:var(--green);
}

.card:last-child{
    border-top-color:var(--red);
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    font-size:2rem;

    margin-bottom:20px;
}

.card p{
    max-width:350px;

    color:var(--light);

    line-height:1.6;
}

/* RESPONSIVO */

@media(max-width:900px){

    .cards{
        grid-template-columns:1fr;
    }

    .hero h1{
        font-size:2.8rem;
    }
}